bin/
obj/
out/
[Dd]ebug/
[Rr]elease/
x64/
x86/

*.nupkg
*.snupkg
**/packages/*
!**/packages/build/
.nuget/

.vs/
.vscode/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates

*.dll
*.exe
*.pdb

*.nuget.props
*.nuget.targets